/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// 테마, 기본 배경 색
$color-bg: #f4f9ff;

// 무채색
$color-white: #fff;
$color-grey01: #e9e9e9;
$color-grey02: rgb(82, 82, 91);
$color-grey03: #606060;
$color-black: rgb(24, 24, 27);

// 유채색
$color-red: #ff0000;
$color-light-red: #fd7b7b;
$color-blue: #4356ff;
$color-light-blue: #97aaff;
$color-green: #38ae00;

// 버튼
$color-button: #4356ff;
$color-button-active: #c8cdff;

// 카테고리 (필요시 추가)
$color-tag-black: #000;
$color-tag-red: #ff0000;
$color-tag-purple: #ad00ff;
$color-tag-orange: #ffb800;
$color-tag-light-green: #7ac26d;
$color-tag-etc: #b6b6b6;
$color-tag-skyblue: #00e0ff;
