@import '../style/colors.scss';
@import '../style/sizes.scss';
@import '../style/typography.scss';

* {
  box-sizing: border-box;
}

body {
  @include bodyStyle();
}

#root {
  width: 100%;
  max-width: 42rem;
}
