.detail-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.channel-box {
  flex-basis: 66.6%;
}
.related-box {
  flex-basis: 33.3%;
}

.description-box {
  white-space: pre-wrap;
}
